.text{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border-radius: 50px;
}

.image1{
    padding-bottom: -1%;
    border-radius: 15px;
    margin-right: 20px;
    border: 5px solid #800000;
}

.image2{
    padding-bottom: -1%;
    border-radius: 15px;
    margin-right: 20px;
    border: 5px solid #800000;
}

.container{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.header_inner{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    border-bottom: 2px solid #515369;
    align-items: center;
}

.nav{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link{
    color: whitesmoke;
    text-decoration: none;
    opacity: .75;
    margin-left: 50px;
}

.nav_link:hover{
    text-decoration: underline;
    opacity: 1;
}

.nav_link:first-child{
    margin-left: 0
}

table {
    width: 92%; /* Ширина таблицы */
    border: 1px solid: red; /* Граница вокруг таблицы */
    border-spacing: 7px 5px; /* Расстояние между границ */
}
td {
    background: whitesmoke; /* Цвет фона */
    border: 1px solid red; /* Граница вокруг ячеек */
    padding: 1px;/* Поля в ячейках */ 
}

th{
    background: brown; /* Цвет фона */
    border: 1px solid red; /* Граница вокруг ячеек */
    padding: 1px;
    color: whitesmoke;
}

.linkuri{
    display: flex;
    padding: 15px 0;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    border-top: 2px solid #515369;
}

.inner_links{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.link{
    color: whitesmoke;
    text-decoration: none;
    opacity: .75;
    margin-left: 10px;
}

.link:hover{
    text-decoration: underline;
    opacity: 1;
}

li{
    color:whitesmoke;
    opacity: .75;
}

li:hover{
    opacity: 1;
}

.Title{
    margin-top: 40px;
    margin-bottom:-5px;
    color:firebrick;
}

.Portret{
    border-radius: 15px;
    margin-right: 20px;
    border: 5px solid #800000;
}

