.text{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border-radius: 50px;
    margin-right:60px; 
    margin-left:60px;
    font-size: 24px;
}

.image1{
    padding-bottom: -1%;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: 5px solid #800000;
    height: 430px;
    width: 330px;
}

.image2{
    padding-bottom: -1%;
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 1%;
    border: 5px solid #800000;
    height: 245px;
    width: 330px;
}

.logo{
    width: 200px; 
    height: 50px;
}

.container{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.header_inner{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    border-bottom: 2px solid #515369;
    align-items: center;
}

.nav{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link{
    color: whitesmoke;
    text-decoration: none;
    opacity: .75;
    margin-left: 50px;
}

.nav_link:hover{
    text-decoration: underline;
    opacity: 1;
}

.nav_link:first-child{
    margin-left: 0
}

.inner_links{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.table1 {
    width: 92%;
    border: 1px solid: red;
    border-spacing: 7px 5px;
    max-width: 1350px;
}

.table2div{
    display:none;
}

.table1 td {
    background: whitesmoke;
    border: 1px solid red;
    padding: 1px;
    width: 16%;
    size: 20px; 
}

.table1 th{
    background: brown;
    border: 1px solid red;
    padding: 1px;
    color: whitesmoke;
}

.linkuri{
    display: flex;
    padding: 15px 0;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    border-top: 2px solid #515369;
}

.link{
    color: whitesmoke;
    text-decoration: none;
    opacity: .75;
    margin-left: 10px;
}

.link:hover{
    text-decoration: underline;
    opacity: 1;
}

li{
    color:whitesmoke;
    opacity: .75;
}

li:hover{
    opacity: 1;
}

.Reference{
    font-size: 32px;
    color: #AE0202;
    margin: 0.5 auto;
}

.Nume_poveste{
    font-size: 48px;
    font-family: Times New Roman;
    color: white;
    margin-top: 20px;
    
}

.nume_rezumat{
    font-size: 32px;
    color: #AE0202;
    margin-top: -10px;
}

.dropdown{
    display:none;  
}

tr .Temporal{
    font-size: 22px;
}






    
    
    
    
